<div class="scorm-player-container">
  <div *ngIf="loading" class="loading-spinner">
    <div class="spinner"></div>
    <p>Loading SCORM content...</p>
  </div>
  
  <div *ngIf="error" class="error-message">
    <h3>Error Loading SCORM Content</h3>
    <p>{{ error }}</p>
    <p class="error-details">Please check the console for more details.</p>
  </div>
  
  <iframe
    *ngIf="!loading && !error"
    #scormIframe
    [src]="contentUrl"
    class="scorm-iframe"
    allowfullscreen>
  </iframe>
</div>
